{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div id="two-image-columns--{{ section.id }}" class="two-image-columns section-{{ section.id }}-padding">

    <div class="two-image-col--inner-container">
      <img src="{{ section.settings.left_img |  img_url: 'master' }}" width="" height="" alt="Tattoo My Shoes Homepge banner left image" />

      {% if section.settings.show_left_content == true %}
      <div class="tic-inner-text--container">
        <div class="text-contents">
          <p>{{ section.settings.left_subheading }}</p>
          <h2>{{ section.settings.left_heading }}</h2>
          <a href="{{ section.settings.left_button_link }}">{{ section.settings.left_button_text }}</a>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="two-image-col--inner-container">
      <img src="{{ section.settings.right_img |  img_url: 'master' }}" width="" height="" alt="Tattoo My Shoes Homepge banner right image" />

      {% if section.settings.show_right_content == true %}
      <div class="tic-inner-text--container">
        <div class="text-contents">
          <p>{{ section.settings.right_subheading }}</p>
          <h2>{{ section.settings.right_heading }}</h2>
          <a href="{{ section.settings.right_button_link }}">{{ section.settings.right_button_text }}</a>
        </div>
      </div>
    {% endif %}
    </div>

    {% if section.settings.show_center_content == true %}
      <div class="tic-inner-text--container">
        <div class="text-contents">
          <p>{{ section.settings.right_subheading }}</p>
          <h2>{{ section.settings.right_heading }}</h2>
          <a href="{{ section.settings.right_button_link }}">{{ section.settings.right_button_text }}</a>
        </div>
      </div>
    {% endif %}

</div>

{%  schema %}
{
  "name": "Two Image Columns",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "left_img",
      "label": "Upload image for left side"
    },
    {
      "type": "image_picker",
      "id": "right_img",
      "label": "Upload image for Right side"
    },
    {
      "type": "header",
      "content": "Text Contents for Left Image"
    },
    {
      "type": "text",
      "id": "left_subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "left_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "left_button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "left_button_link",
      "label": "Button Text"
    },
    {
      "type": "header",
      "content": "Text Contents for Right Image"
    },
    {
      "type": "text",
      "id": "right_subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "right_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "right_button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "right_button_link",
      "label": "Button Text"
    },
    {
      "type": "checkbox",
      "id": "show_left_content",
      "label": "Show Content on Left Side Image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_right_content",
      "label": "Show Content on Right Side Image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_center_content",
      "label": "Show Content at Center",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Two Image Columns"
    }
  ]
}
{% endschema %}