{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div id="two-image-columns--{{ section.id }}" class="two-image-columns section-{{ section.id }}-padding">

    <div class="two-image-col--inner-container">
      <img src="{{ section.settings.left_img |  img_url: 'master' }}" width="" height="" alt="Tattoo My Shoes Homepge banner left image" />

      <div class="tic-inner-text--container">
        <div class="text-contents">
          <p>Hello World</p>
          <h2>LOREM IPSUM</h2>
          <a href="#">Button</a>
        </div>
      </div>
    </div>

    <div class="two-image-col--inner-container">
      <img src="{{ section.settings.right_img |  img_url: 'master' }}" width="" height="" alt="Tattoo My Shoes Homepge banner right image" />

      <div class="tic-inner-text--container">
        <div class="text-contents">
          <p>Hello World</p>
          <h2>LOREM IPSUM</h2>
          <a href="#">Button</a>
        </div>
      </div>
    </div>

</div>

{%  schema %}
{
  "name": "Two Image Columns",
  "max_blocks": 3,
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "left_img",
      "label": "Upload image for left side"
    },
    {
      "type": "image_picker",
      "id": "right_img",
      "label": "Upload image for Right side"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Image Columns"
    }
  ]
}
{% endschema %}